:host {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1b2f3a;
    padding-left: 24px;
}

app-amiibo-card {
    flex: 20%;
    height: 240px;
    margin-top: 24px;
    margin-right: 24px;
}