div {
  font-size: 150%;
  color: rgba(0,0,0,0.7);
  height: 100%;
  background-position: top center;
  background-repeat: none;
  background-size: 100%;
  background-color: #fff;
  background-repeat: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  border-radius: 6px;
}
